README.md
terraform.tfvars
infrastructure/terraform.tfvars
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
# Python
__pycache__/
*.pyc
venv/
# OS
.DS_Store
# Keys
*.pem